<!DOCTYPE html>
<html ng-app="mainModule">
<%- include('head', {title: 'Webinterface', file:""}); %>
<body>
<%- include('navbar', {}) %>
<div class="content col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Fehler
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <h2>404 <%= error %> not found</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>
